/* line 4, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
body,
#root {
  color: #343a40;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100vw;
  font-weight: 400;
}

/* line 36, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* line 41, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
input,
button,
select {
  border: none;
  outline: none;
  background-clip: padding-box;
  transition: 300ms all linear;
}

/* line 47, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
select,
button {
  cursor: pointer;
}

/* line 52, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
.green i {
  color: #22bd8e;
}

/* line 56, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
.green-focus:focus {
  border: 1.4px solid #22bd8e !important;
  background: none !important;
}

/* line 61, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
.red i {
  color: #dc3545 !important;
}

/* line 65, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/main scss/styles.scss */
.red-focus:focus {
  border: 1.2px solid #dc3545 !important;
  background: none !important;
}

/*********************
Header
***********************/
/* line 4, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: .5rem 0 3rem 0;
  overflow: hidden;
  position: relative;
}

/* line 14, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header * {
  color: #f3f5f7;
  text-align: center;
}

/* line 19, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .container {
  height: 100%;
  width: 105%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* line 28, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_items_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 1.2rem 0 2rem;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 680px) {
  /* line 28, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
  .header .budget_items_container {
    width: 68%;
  }
}

@media screen and (max-width: 480px) {
  /* line 28, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
  .header .budget_items_container {
    width: 80%;
  }
}

/* line 43, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_title h1,
.header .budget_value {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/* line 51, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_value {
  font-size: 2.6rem;
  margin: 0.7rem 0;
}

/* line 56, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .viewer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 82%;
  height: 2.6rem;
  margin: 0.45rem;
  padding: 0 0.2rem;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.349);
  background: #f3f5f7 !important;
  opacity: 0.975;
}

/* line 66, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .viewer .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
  transform: translateX(0.8rem);
}

@media screen and (max-width: 600px) {
  /* line 56, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
  .header .viewer {
    width: 95%;
  }
}

/* line 78, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_income-text,
.header .budget_expenses-text {
  color: #343a40;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 84, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_income-value,
.header .budget_expenses-value {
  color: #343a40;
  font-weight: 500;
}

/* line 89, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .budget_expenses-percentage {
  color: #343a40;
  font-weight: 500;
}

/* line 93, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_header.scss */
.header .err_msg,
.header .err_msg_mobile {
  color: #dc3545;
  text-align: center;
  margin: 0 0;
  font-style: italic;
}

/* line 1, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: .5rem;
  align-items: center;
  /* opacity: 0.99; */
  background: #f3f5f7 !important;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
  transform: translateZ(2rem);
}

/* line 12, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  height: 88%;
  flex-flow: row nowrap;
  align-items: center;
}

/* line 19, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field * {
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.034);
  height: 70%;
  color: #343a40;
}

/* line 26, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_container {
  width: 20%;
}

/* line 29, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_container #add_type {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  color: #343a40;
  background: transparent !important;
}

/* line 38, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_container #add_type:focus option:first-of-type:checked {
  color: #28a745 !important;
}

/* line 42, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_container #add_type:focus option:last-of-type:checked {
  color: #dc3545 !important;
}

/* line 50, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .input_fields {
  width: 78%;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

/* line 58, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .input_fields input {
  padding: 0.65rem 0.28rem;
  font-size: 0.94rem;
  margin: 0 0.2rem;
  color: #343a40;
  background: transparent;
  border-radius: 0.3rem;
  transition: ease-in-out 280ms;
}

/* line 68, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_description {
  width: 70%;
  text-transform: capitalize;
}

/* line 73, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_value {
  width: 28%;
}

/* line 77, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_btn {
  width: 8%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

/* line 84, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_form.scss */
.add .add_field .add_btn i {
  font-size: 1.8rem;
  transition: ease 280ms;
}

/*********************
Main
***********************/
/* line 5, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_main.scss */
.main {
  width: 100vw;
  position: relative;
}

/* line 1, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.94rem auto;
}

/* line 7, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container > * {
  width: 46%;
}

/* line 11, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  padding: 0 0.4rem 0.4rem 0;
}

/* line 20, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container .income .income_title {
  color: #22bd8e;
  text-align: center;
  position: relative;
}

/* line 36, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/mixins.scss */
.container .income .income_title::before {
  content: '';
  position: absolute;
  display: block;
  width: 25rem;
  height: 1.6px;
  background: #ddd;
  bottom: 1.8px;
  left: calc(50%);
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  /* line 49, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/mixins.scss */
  .container .income .income_title::before {
    width: 25rem;
    bottom: 1.2px;
    left: calc(48%);
  }
}

/* line 24, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container .income .item {
  border-left: 3px solid #28a745;
}

/* line 30, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container .expenses .expenses_title {
  color: #dc3545;
  text-align: center;
  position: relative;
}

/* line 36, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/mixins.scss */
.container .expenses .expenses_title::before {
  content: '';
  position: absolute;
  display: block;
  width: 25rem;
  height: 1.6px;
  background: #ddd;
  bottom: 1.8px;
  left: calc(50%);
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  /* line 49, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/mixins.scss */
  .container .expenses .expenses_title::before {
    width: 25rem;
    bottom: 1.2px;
    left: calc(48%);
  }
}

/* line 34, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
.container .expenses .item {
  border-left: 3px solid #dc3848;
}

@media screen and (max-width: 630px) {
  /* line 1, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    width: 94%;
  }
  /* line 45, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
  .container > * {
    width: 82%;
  }
}

@media screen and (max-width: 460px) {
  /* line 1, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
  .container {
    width: 98%;
  }
  /* line 53, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-containers.scss */
  .container > * {
    width: 88%;
  }
}

/* line 3, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 0.8rem 0.3rem;
  margin: 1rem 0 !important;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}

/* line 13, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item:hover,
.item .settings_icon:hover {
  transform: translateY(-3px);
  scale: 1.01;
}

/* line 19, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item .item_description {
  min-width: 45%;
  text-transform: capitalize;
  padding: 0 0 0 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* line 26, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%;
}

/* line 30, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item .right .item_delete {
  width: 18%;
  position: relative;
  margin: 0 0.3rem;
  text-align: center;
  transform: scale(1);
  transition: 250ms ease;
}

/* line 38, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item .right .item_delete button {
  background: #dc3848;
  padding: .2rem;
  margin-left: .3rem;
  transform: translateY(-5px);
  box-shadow: 0 3px .6rem #14141432;
  border-radius: 7.5px;
}

/* line 57, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.item .right .item_delete i {
  color: #f3f5f7;
  font-size: 1.4rem;
  font-weight: 700;
  background: transparent;
}

/* line 73, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.expenses-list .item .item_value {
  width: 80%;
  color: #dc3545;
  transform: translateX(-2rem);
}

/* line 79, ../../3D Objects/Projects workspace/React Projects/MEBA/src/assets/sass/components/_budget-items.scss */
.expenses-list .item .right {
  width: 42%;
  transform: translateX(-2rem);
}

/*# sourceMappingURL=styles.css.map */