*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

body, #root { color: #343a40; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 16px; width: 100vw; font-weight: 400; }

.clearfix::after { content: ""; display: table; clear: both; }

input, button, select { border: none; outline: none; background-clip: padding-box; transition: 300ms all linear; }

select, button { cursor: pointer; }

.green i { color: #22bd8e; }

.green-focus:focus { border: 1.4px solid #22bd8e !important; background: none !important; }

.red i { color: #dc3545 !important; }

.red-focus:focus { border: 1.2px solid #dc3545 !important; background: none !important; }

/*********************
Header
***********************/
.header { display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; width: 100%; background: url(../img/intro-bg.png) center bottom no-repeat; background-size: cover; padding: 1rem 0 3rem 0; overflow: hidden; position: relative; }

.header * { color: #f3f5f7; text-align: center; }

.header .container { height: 100%; width: 105%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; }

.header .budget_items_container { display: flex; justify-content: space-around; align-items: center; flex-flow: row wrap; margin: 1.2rem 0 2rem; height: 100%; width: 50%; }

.header .budget_title h1, .header .budget_value { text-transform: capitalize; font-size: 1.8rem; font-weight: 300; letter-spacing: 2px; }

.header .budget_value { font-size: 2.6rem; margin: 0.7rem 0; }

.header .viewer { display: flex; justify-content: space-around; align-items: center; width: 70%; height: 2.6rem; margin: 0.45rem; padding: 0 0.2rem; box-shadow: 0 0 26px rgba(0, 0, 0, 0.349); background: #f3f5f7 !important; opacity: 0.975; }

.header .viewer .right { display: flex; justify-content: space-around; align-items: center; width: 50%; transform: translateX(0.8rem); }

.header .budget_income-text, .header .budget_expenses-text { color: #343a40; font-weight: 500; text-transform: uppercase; }

.header .budget_income-value, .header .budget_expenses-value { color: #343a40; font-weight: 500; }

.header .budget_expenses-percentage { color: #fff !important; }

.header .err_msg, .header .err_msg_mobile { color: #dc3545; text-align: center; margin: 0 0; font-style: italic; }

.add { display: flex; justify-content: center; align-items: center; width: 100%; height: 5rem; padding: .5rem; /* opacity: 0.99; */ background: #f3f5f7 !important; box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4); transform: translateZ(2rem); }

.add .add_field { display: flex; justify-content: space-around; align-items: center; width: 80%; flex-flow: row nowrap; }

.add .add_field * { background: #fff; box-shadow: 0 0 38px rgba(0, 0, 0, 0.034); }

.add .add_field .add_container { width: 20%; }

.add .add_field .add_container #add_type { width: 100%; height: 100%; font-size: 1.1rem; background: transparent !important; }

.add .add_field { width: 80%; display: flex; flex-flow: row nowrap; justify-content: space-around; }

.add .add_field * { background: var(--white); box-shadow: 0 0 38px rgba(0, 0, 0, 0.034); }

.add .add_field .add_container { width: 25%; }

.add .add_field #add_type { width: 100%; height: 100%; font-size: 1.1rem; /* background: transparent; */ }

.add .add_field #add_type:focus option:first-of-type:checked { color: var(--green) !important; }

.add .add_field #add_type:focus option:last-of-type:checked { color: var(--danger) !important; }

/*********************
Main
***********************/
.main { width: 100vw; position: relative; }

.container { display: flex; justify-content: space-around; align-items: center; width: 80%; margin: 1.94rem auto; }

.container > * { width: 48%; }

.container h2 { text-transform: uppercase; font-size: 1.2rem; font-weight: 500; margin-bottom: 0.3rem; padding: 0 0.4rem 0.4rem 0; }

.container .income .income_title { color: #22bd8e; text-align: center; position: relative; }

.container .income .income_title::before { content: ''; position: absolute; display: block; width: 25rem; height: 1.6px; background: #ddd; bottom: 1.8px; left: calc(50%); transform: translateX(-50%); }

.container .income .item { border-left: 1.8px solid #28a745; }

.container .expenses .expenses_title { color: #dc3545; text-align: center; position: relative; }

.container .expenses .expenses_title::before { content: ''; position: absolute; display: block; width: 25rem; height: 1.6px; background: #ddd; bottom: 1.8px; left: calc(50%); transform: translateX(-50%); }

.container .expenses .item { border-left: 1.8px solid #dc3848; }

@media screen and (min-width: 600px) { .container { display: flex; justify-content: space-around; align-items: center; flex-flow: column nowrap; width: 90%; }
  .container > * { width: 49%; } }

.item { display: flex; justify-content: space-between; align-items: center; /* text-align: center; */ padding: 0.5rem 0.2rem; border: 2px solid var(--blue); margin: 1rem 0 !important; box-shadow: 1.8px 1px 10px rgba(0, 0, 0, 0.28); transition: all 0.2s ease-in; }

.item:hover, .item .settings_icon:hover { transform: translateY(1px); scale: 1.01; }

.item .item_description { width: 45%; text-transform: capitalize; padding: 0 0 0 0.5rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.item .right { width: 42%; display: flex; align-items: center; }

.item .right .item_delete { width: 18%; margin: 0 0.3rem; text-align: center; transform: scale(1); transition: 250ms ease; }

.item .right .item_delete button { background: none; }

.item .right .item_delete i { color: #22bd8e; font-size: 1.4rem; background: transparent; }

.expenses-list .item .item_value { width: 82%; color: #dc3545; }

.expenses-list .item .right { width: 45%; }

.expenses-list .item .item_delete i { color: var(--danger); }
