.container {

	@include flex-space(space-between);
	width: 90%;
	margin: 1.94rem auto;

	>* {
		width: 46%;
	}

	h2 {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 0.3rem;
		padding: 0 0.4rem 0.4rem 0;
	}

	.income {
		.income_title {
			@include style-container($teal);
		}

		.item {
			border-left: 3px solid $green;
		}
	}

	.expenses {
		.expenses_title {
			@include style-container($danger);
		}

		.item {
			border-left: 3px solid $red;
		}
	}

	@media screen and (max-width: 630px) {

		@include flex-space(space-around);
		flex-flow: column nowrap;
		width: 94%;

		>* {
			width: 82%;
		}
	}

	@media screen and (max-width: 460px) {
		width: 98%;

		>* {
			width: 88%;
		}
	}
}
