//// Income's Items
// .income-list {}


.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* text-align: center; */
	padding: 0.5rem 0.2rem;
	border: 2px solid var(--blue);
	margin: 1rem 0 !important;
	box-shadow: 1.8px 1px 10px rgba(0, 0, 0, 0.28);
	transition: all 0.2s ease-in;

	&:hover,
	.settings_icon:hover {
		transform: translateY(1px);
		scale: 1.01;
	}

	.item_description {
		width: 45%;
		text-transform: capitalize;
		padding: 0 0 0 0.5rem;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.right {
		width: 42%;
		display: flex;
		align-items: center;


		.item_delete {
			width: 18%;
			margin: 0 0.3rem;
			text-align: center;
			transform: scale(1);
			transition: 250ms ease;

			button {
				background: none;
			}

			i {
				color: $teal;
				font-size: 1.4rem;
				background: transparent;
			}


		}

	}
}


//// Expenses Items
.expenses-list {
	.item {
		.item_value {
			width: 82%;
			color: $danger;
		}

		.right {
			width: 45%;
		}

		.item_delete {
			i {
				color: var(--danger);
			}
		}
	}
}
