.add {
	@include flex-space(center);
	width: 100%;
	height: 6rem;
	padding: .5rem;
	align-items: center;
	/* opacity: 0.99; */
	background: $light !important;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
	transform: translateZ(2rem);

	.add_field {
		@include flex-space(space-between);
		width: 88%;
		height: 88%;
		flex-flow: row nowrap;
		align-items: center;

		* {
			// background: $white;
			box-shadow: 0 0 38px rgba(0, 0, 0, 0.034);
			height: 70%;
			color: $gray-dark
		}

		.add_container {
			width: 20%;

			#add_type {
				width: 100%;
				height: 100%;
				font-size: 1.1rem;
				color: $gray-dark;
				background: transparent !important;

				&:focus {

					option:first-of-type:checked {
						color: $green !important;
					}

					option:last-of-type:checked {
						color: $danger !important;
					}
				}

			}
		}

		.input_fields {
			width: 78%;
			// height: 100%;
			display: flex;
			justify-content: space-between;
			background: transparent;
		}

		.input_fields input {
			padding: 0.65rem 0.28rem;
			font-size: 0.94rem;
			margin: 0 0.2rem;
			color: $gray-dark;
			background: transparent;
			border-radius: 0.3rem;
			transition: ease-in-out 280ms;
		}

		.add_description {
			width: 70%;
			text-transform: capitalize;
		}

		.add_value {
			width: 28%;
		}

		.add_btn {
			width: 8%;
			height: 100%;
			text-align: center;
			cursor: pointer;
		}

		.add_btn i {
			font-size: 1.8rem;
			transition: ease 280ms;
		}
	}


}
