// Variable Definitions
$blue: #007bff;
$red: #dc3848;
$green: #28a745;
$teal: #22bd8e;
$white: #fff;
$gray: #6c757d;
$light-grey: hsl(210, 17%, 92%);
$gray-dark: #343a40;
$info: #17a2b8;
$danger: #dc3545;
$light: hsl(210, 17%, 96%);

$rem2: 2rem;
